body {
    margin: 0;
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
canvas {
    display: block;
    margin: auto;
    background: linear-gradient(#444, #222);
}
